/* Stile generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* stile header */
header {
  background-color: white;

}

.container-header {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
  margin: 25px 0 25px 0;
}

.navbar-header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-header a {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.navbar-header a:hover {
  color: #0282f9;
}

/* stile main */
.jumbotron {
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.jumbotron img {
  width: 100%;
  position: absolute;
  transform: translate(0%, 0%);
}

main {
  background-color: black;
  color: white;
}

.container-main {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: 150px;
}

/* sezione di link dei servizi */
.service-links {
  background-color: #0282f9;
}

.list-services ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 150px;
}

.list-services li {
  display: flex;
  align-items: center;
}

.list-services img {
  width: 50px;
}

.list-services a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 10px;
}


/* stile footer */
.bg-footer {
  background-image: url(assets/img/footer-bg.jpg);
}

.container-links {
  display: flex;
  width: 70%;
  margin: 0 auto;

}

.footer-column {
  padding: 30px 0 30px 0;
}

.footer-column h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
}

.footer-column a {
  color: gray;
  text-decoration: none;
  font-size: 13px;
}

.footer-column a:hover {
  color: white;
}

.container-links>div:not(:first-child) {
  margin-left: 30px;
}

/* sezione registazione e social */
.bg-registration-social {
  background-color: rgb(56, 56, 56);
}

.container-registration-social {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 0;
}

.registration-btn button {
  background-color: rgb(56, 56, 56);
  color: white;
  border: 2px solid #0282f9;
  padding: 10px 20px;
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 15px;
}

.follow-us {
  color: #3498db;
  margin-right: 10px;
  font-weight: bold;
}

.icons img {
  width: 30px;
  border-radius: 50%;
}