/* Stile generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* stile header */
header {
  background-color: white;

}

.container-header {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
  margin: 25px 0 25px 0;
}

.container-header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.container-header a {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.container-header a:hover {
  color: #0282f9;
}

/* stile main */
main {
  background-color: black;
  color: white;
}

.container-main {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: 150px;
}

/* sezione di link di servizio */
.service-links{
  background-color: #0282f9;
}

.list-services ul{
  width: 70%;
  display: flex;
  justify-content: space-around; 
  margin: 0 auto; 
  height: 150px;
}

.list-services li {
  display: flex;
  align-items: center;
}

.list-services img {
  width: 50px; 
}

.list-services a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 10px;
}




